<%- include layouts/header.ejs %>
  <div class="container">
    <div id="carousel0" class="carousel slide" data-bs-ride="carousel" style="height: 550px;">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel0" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel0" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel0" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner" style="height: 550px;">
        <div class="carousel-item active" style="height: 550px;">
          <img src="https://www.econectia.com/uploads/noticias/1768/imagenes/soluciones-software-empresa.jpg"
            class="d-block w-100" alt="img1">

          <div class="carousel-caption d-none d-md-block">
            <h5>Bienvenido</h5>
            <p>CRUD en Node JS</p>
          </div>
        </div>
        <div class="carousel-item" style="height: 550px;">
          <img src="https://www.foreplanner.com/wp-content/uploads/2017/03/software-para-empresas.jpg"
            class="d-block w-100" alt="img2">
          <div class="carousel-caption d-none d-md-block">
            <h5>Bienvenido</h5>
            <p>CRUD en Node JS</p>
          </div>
        </div>
        <div class="carousel-item" style="height: 550px;">
          <img src="https://www.gadae.com/blog/wp-content/uploads/02-software-empresa-ferreteria-codigo10.jpg"
            class="d-block w-100" alt="img3">
          <div class="carousel-caption d-none d-md-block">
            <h5 style="color: black;">Bienvenido</h5>
            <p style="color: black;">CRUD en Node JS</p>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel0" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel0" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>

  <%- include layouts/footer.ejs %>