<%- include layouts/header.ejs %>
  <div class="container">
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>Perfil Profesional</h1>
        <p>Soy un analista, diseñador y desarrollador de software con experiencia en la programación principalmente en Java, Java EE y sus diferentes frameworks desde hace de cuatro años, ejecuto el proceso integral (análisis, diseño, implementación, pruebas y ajustes) de generación de sistemas de información, para la sistematización de procesos, aplico los conceptos de programación orientada a objetos, conocimientos en base de datos relacionales y no relacionales, control de versiones Git, tengo experiencia en la aplicación de metodologías ágiles de desarrollo como XP, SCRUM, iterativa.

          Mi aspiración es poder entrar a formar parte de una empresa como desarrollador que me permita aplicar todos mis conocimientos y, al mismo tiempo, que me permita desarrollarme profesionalmente.</p>
     
          <h4><a target="_blank" style="color: white;" href="https://andreyri13.github.io/Curriculum/">Curriculum digital</a></h4>
  </div>
  <%- include layouts/footer.ejs %>